.distanceBlock{
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.distance{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;

    color: #818281;
}

.intermediateDeliveryPointsCount{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;

    color: #017B59;
}